# 0.0 init

In [1]:
%load_ext autoreload
%autoreload 2

# Importar librerias

In [2]:
import janitor
import matplotlib.pyplot as plt
import missingno
import numpy as np
import pandas as pd
import pyreadr
import seaborn as sns
import session_info
import upsetplot

## Importar funciones personalizadas

In [1]:
%run "../missing/utils/pandas-missing-extension.ipynb"

## Configurar el aspecto general de las gr√°ficas del proyecto

In [3]:
%matplotlib inline
sns.set_theme(
    rc={
        "figure.figsize": [10,10],
    }
)

sns.set_style("whitegrid")

## Operar con valores faltantes

### Python

In [11]:
print( # representacion de valores faltantes. None
    None or True,
    None or False,
    None == None,
    None is None,
    #None + 1, # no soporta valores faltantes en operaciones aritmeticas
    #None + 1,
    type(None),
    sep="\n" # forma para visualizar de manera vertical.
)

True
False
True
True
<class 'NoneType'>

### NumPy

In [14]:
print( # numpy represnta a sus valores faltantes con np.nan y reconoce operaciones aritmeticas
    np.nan or True,
    np.nan or False,
    np.nan == np.nan,
    np.nan is np.nan,
    np.nan / 2, 
    np.nan * 7,
    type(np.nan),
    np.isnan(np.nan),
    sep="\n"
)

nan
nan
False
True
nan
nan
<class 'float'>
True

### Pandas

In [17]:
test_missing_df=pd.DataFrame.from_dict( # pandas tiene diferentes formas de representar valores faltantes, nan <NA>
     data=dict(
        x=[0,1,np.nan,np.nan,None],
        y=[0,1,pd.NA,pd.NA,None]
    )
)

test_missing_df

     x     y
0  0.0     0
1  1.0     1
2  NaN  <NA>
3  NaN  <NA>
4  NaN  None

In [20]:
test_missing_df.isna() # isna() isnull() son equivalentes
test_missing_df.isnull()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

In [21]:
test_missing_df.x.isnull() #aplicar a una columna en particular

0    False
1    False
2     True
3     True
4     True
Name: x, dtype: bool

In [22]:
pd.Series([1,np.nan]) # una lista

0    1.0
1    NaN
dtype: float64

In [24]:
pd.Series([pd.to_datetime("2022-01-01"),np.nan]) # si tuvieramos una fecha y otro valor faltante, nos devuelve NAT

0   2022-01-01
1          NaT
dtype: datetime64[ns]

In [25]:
pd.Series([-1]).isnull()

0    False
dtype: bool